body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;;
}
h1{
    font-size: 50px;
}
.orange{
    color: deepskyblue;
}
.add{
    display: flex; padding-bottom: 4%;
}
.one{
    width: 50%; padding-left: 3%;
}
.one img{
    width: 80%;
}
.button{
    text-decoration: none; background-image:linear-gradient(lightblue, deepskyblue);
    padding: 10px 40px; border-radius: 5px;
}
.top{
    background-image: url(images/top-banner.png); background-repeat: no-repeat;
}
.add{
    display: flex;
}
.two{
    width: 50%; padding-right: 2%;
}
.two img{
    width: 80%;
}
.down{
    display: flex; padding-right:1%; background-image: url(images/dream-bg.png); background-repeat: no-repeat;
    background-position: right;
}
.blue{
    color: dodgerblue;
}
.flexible{
    display: flex;
}
.smurffy{
    box-shadow: 20px 10px 40px gray; width: 40%;
    margin-left: 5%; margin-right: 5%; padding-left: 30px; border-radius: 10px; padding-right: 3%; text-align: justify; margin-bottom: 10px; padding-bottom: 2%;
}
h2{
    font-size: 40px;
}
h1{
    font-size: 50px;
}
.character{
    background-image: url(images/exp-bg.png); background-repeat: no-repeat; background-position: left;
}
#papa{
   border-left: 7px solid; border-image:linear-gradient(red, orange); border-image-slice: 1;
}
#brainy{
    border-left: 7px solid; border-image:linear-gradient(blue, cyan); border-image-slice: 1;
}
footer p{
    text-align: center;
}