body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: deepskyblue;
}
section{
    display: flex;
}
.one{
    width: 50%; padding-left: 3%;
}
.one img{
    width: 80%;
}
.button{
    text-decoration: none; background-image:linear-gradient(lightblue, deepskyblue);
    padding: 10px 40px; border-radius: 5px;
}
.top{
    background-image: url(images/top-banner.png); background-repeat: no-repeat;
}